<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="kZmSJd4aqcmgCZq2DrygW2HPH099owKR3eC1lN-JmXk" />
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>

  {% include header.html %}

     
  {{ content }}  

  {% include footer.html %}

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "997ca0fd41f64ef194ae0bbba3a63222"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
