---
layout: default
tags: [machine-learning, visualization]
---

<header class="masthead" style="background-image: url('{{ page.header_image | default: "/assets/images/hero.jpg" | relative_url }}'); height: 40vh; background-size: cover; background-position: center;">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="post-heading text-white text-center" style="margin-top: 8rem;">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">
            Posted on {{ page.date | date: "%B %-d, %Y" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      {{ content }}
    </div>
  </div>
</article>